<body>
    <%- include('partials/header') %>

    <main>
        <h2>Join Session</h2>
        <form action="/join-session" method="POST">
            <label for="password">Session Code:</label>
            <input type="text" id="password" name="password" required>
            <button type="submit">Join Session</button>
        </form>
        <button onclick="window.location.href='/play'">Back to Play</button>
    </main>

    <%- include('partials/footer') %>
</body>