<%- include('partials/header') %>

<main class="login-container">
    <h2 class="login-title">Login</h2>

     <!-- Flash Messages -->
     <% if (messages.error) { %>
        <div class="flash-message error-flash">
            <%= messages.error %>
        </div>
    <% } %>
    <% if (messages.success) { %>
        <div class="flash-message correct-flash">
            <%= messages.success %>
        </div>
    <% } %>

    <form action="/login" method="POST" class="login-form">
        <input type="text" name="username" placeholder="Username" class="login-input" required>
        <input type="password" name="password" placeholder="Password" class="login-input" required>
        <button type="submit" class="login-button">Login</button>
    </form>
</main>

<%- include('partials/footer') %>
